<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.ProductMapper">
    <resultMap id="BaseResultMap" type="com.example.mybatis.entity.ProductCategory">
        <result column="category_id" jdbcType="INTEGER" property="categoryId" />
        <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
        <result column="category_description" jdbcType="VARCHAR" property="categoryDesc" />
        <result column="category_icon" jdbcType="VARCHAR" property="categoryIcon" />
    </resultMap>

    <select id="getCategoryList" resultMap="BaseResultMap">
        select * from tb_product_category
    </select>

<!--    <insert id="userRegistry" parameterType="com.example.mybatis.entity.User">-->
<!--        insert into tb_user(name, age, sex, uid) values(#{username, jdbcType=VARCHAR}, #{age, jdbcType=INTEGER}, #{sex, jdbcType=INTEGER}, #{uid, jdbcType=VARCHAR})-->
<!--    </insert>-->

<!--    <update id="updateUser" parameterType="com.example.mybatis.entity.User">-->
<!--        update tb_user set-->
<!--        <if test="username != null">-->
<!--            name = #{username, jdbcType=VARCHAR},-->
<!--        </if>-->
<!--        <if test="age != null">-->
<!--            age = #{age, jdbcType=INTEGER},-->
<!--        </if>-->
<!--        <if test="sex != null">-->
<!--            sex = #{sex, jdbcType=INTEGER}-->
<!--        </if>-->
<!--        where uid = #{uid, jdbcType=INTEGER}-->
<!--    </update>-->

<!--    <update id="updateUserMap" parameterType="java.util.Map">-->
<!--        update tb_user set-->
<!--        <if test="username != null">-->
<!--            name = #{username, jdbcType=VARCHAR},-->
<!--        </if>-->
<!--        <if test="age != null">-->
<!--            age = #{age, jdbcType=INTEGER},-->
<!--        </if>-->
<!--        <if test="sex != null">-->
<!--            sex = #{sex, jdbcType=INTEGER}-->
<!--        </if>-->
<!--        where uid = #{uid, jdbcType=INTEGER}-->
<!--    </update>-->

<!--    <delete id="deleteUser" parameterType="java.lang.String">-->
<!--        delete from tb_user where uid = #{uid, jdbcType=VARCHAR}-->
<!--    </delete>-->

    <resultMap id="multiProductResultMap" type="com.example.mybatis.entity.Product">
        <result column="category_id" jdbcType="INTEGER" property="categoryId" />
        <result column="product_id" jdbcType="VARCHAR" property="productId" />
        <result column="product_name" jdbcType="VARCHAR" property="productName" />
        <result column="price" jdbcType="VARCHAR" property="price" />
        <result column="product_description" jdbcType="VARCHAR" property="productDesc" />
        <result column="is_sale" jdbcType="INTEGER" property="isSale" />
        <result column="stock" jdbcType="INTEGER" property="stock" />
        <result column="product_icon" jdbcType="VARCHAR" property="productIcon" />
    </resultMap>
    
    <select id="getDetailByIds" parameterType="java.util.List" resultMap="multiProductResultMap">
        select category_id,
            product_id,
            product_name,
            price,
            product_description,
            is_sale,
            stock,
            product_icon
            from tb_product where product_id in
        <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>